files: ^.*\.md$
repos:
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.40.0
    hooks:
      - id: markdownlint
        name: Check for Markdown linting errors

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.8.0
    hooks:
      - id: cspell
        name: Check for spelling errors
